.main_banner{
    padding: 9px 0 24px 0;
    background: #F0EFEB;
}
.main_banner .container{
    max-width: 1088px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.first_article{
    max-width: 544px;
    margin: 90px 0 90px 0;
}
.main_banner h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
}
.main_banner p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}
.main_banner a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px 9px 23px;
}
.main_banner .main_image{
    position: relative;
    left: 30px;
}
.best_sellers{
    padding: 60px 0 240px 0;
}
.best_sellers .container{
    max-width: 1064px;
    margin: auto;
    text-align: center
}
.best_sellers h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    max-width: 692px;
    margin: 0 auto 27px;
}
.best_sellers .subtext{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    max-width: 632px;
    margin: auto;
}
.best_sellers .subtext_margin{
    margin-top: 47px;
    margin-bottom: 88px;
}
.best_sellers h2:last-of-type{
    margin-bottom: 52px;
}
.best_sellers_carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best_sellers_carousel .card_img{
    display: inline-block;
}
.best_sellers_carousel img{
    margin-bottom: 27px;
    height: 425px;
    max-width: 310px;
}
.best_sellers_carousel .card_name{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin: auto;
    margin-bottom: 17px;
    max-width: 155px;
}
.best_sellers_carousel .card_price{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}
.best_sellers_carousel .atc_link{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
}